@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jost:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";

@theme {
    --color-brand: #0040a6;
    --color-main: #1e72de;
    --font-inter: 'Inter', sans-serif;
}

body {
    background-color: rgb(244, 246, 248) !important;
}